.main{
    position: relative;
    text-align: center;
    color: white;
}

.input_input__1Zlh-- {
    font-size: 9.5rem;
    font-weight: 900;
    font-family: 'meister', sans-serif;
    background-color: transparent;
    color: rgb(233, 227, 199);
    border: 0 none;
    padding: 0;
    width: 20rem;
    margin-left: 1.25rem;
    box-sizing: content-box;
    position: relative;
    top: -1.5rem;
    width:200%;
    
}
.input_errorMessage__2BX8K- {
    position: absolute;
    top: 18%;
    left: 85%; 
    font-size: 1rem;
    font-weight: 900;
    color: rgb(221, 90, 18);
    white-space: nowrap;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.input_wrapper__1lXNx- {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    line-height: 0.75;
    
}


.input_wrapper__1lXNx-:after {
    content: '';
    width: 224px;
    width: 14rem;
    height: 12.8px;
    height: 0.8rem;
    background-color: rgb(233, 227, 199);
    opacity: 0.6;
    position: absolute;
    left: 20px;
    left: 1.25rem;
    bottom: 12.8px;
    bottom: 0.8rem;
    
}

.input_wrapper__1lXNxt-:after {
    content: '';
    width: 224px;
    width: 14rem;
    height: 12.8px;
    height: 0.8rem;
    background-color: rgb(233, 227, 199);
    opacity: 0.6;
    position: absolute;
    left: 20px;
    left: 1.25rem;
    bottom: 12.8px;
    bottom: 0.8rem;
    width:80%;
}

.input_inputBox__1bIPw- {
    overflow: hidden;
    height: 8.5rem;
    
}

.input_label__2EQrH- {
    transform: rotate(
-90deg);
    transform-origin: right top;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
    left: -8.5rem;
    letter-spacing: 0.5rem;
    position: absolute;
    width: 8.5rem;
    top: 0;
    text-align: right;
    padding-right: 1.5rem;
    box-sizing: border-box;
    
}

.input_wrapper__1lXNx- {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    line-height: 0.75;
    
}
.textInput{
  position: absolute;
  top: 18%;
  width:20%;
  left: 25%;
}
.dateofbirth{
  position: absolute;
  top: 18%;
  left: 25%;
}

.text{
  position: absolute;
  top: 8%;
  left: 25%;
}

.firstImage{
    width: 100%;
   
    height: 25%;
    border: 3px linear black;
    border-radius:5px;
}


.covidOffer{
    background-color:  #4e6446;
    color: #fff;
}

.carousel-control-prev{
   visibility:hidden;
}
.carousel-indicators{
    visibility:hidden;
}

.carousel-control-next{
    visibility:hidden;
 }

.userinputs{
    height: 5vh;
    width: 90%;
    border-radius: 5%;
}

.signupDetails{
    border: 1px solid black;
    width: 45%;
    height: 40vh;
    margin-top: 2vh;
}

.list{
    padding-left: 25%;
}

.btn{
    background-color: #4e6446;
    color: #fff;
}

.footer{
    background-color: #dbdbdb;
}

.subbtn{
    background-color: black;
    color: white;
    height: 5vh;
}

.subinp{
    height:5vh;
    border-color: white;
    border-radius:5px 
}

.paymentImgs{
    width: 70%;
}

.signupInputs{
    width: 100%;
    height: 5vh;
}

.addtocartbtn{
    background-color: #4e6446;
    color: #fff;
    margin-top: 3%;
    width: 30%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.imgmain{
    padding-left: 25%;
}

.combooffer{
    width: 100%;
    height: 10%;
    background-color: #f1a500;
    border-radius: 1em;
}

.quantitybox{
    border: 1px solid black;
    width: 32%;
    height: 3vh;
    padding-top: 2%;
}

.logininp{
    width: 80%;
    height: 3em;
    border: none;
}

.orderdetails{
    width: 70%;
    height: 34em;
    border: 1px solid black;
    margin-left: 20%;
    border-radius: 1em;
}

.addedimg{
    width: 80%;
    margin-top: 10%;
}

.couponinp{
    height: 3em;
    border: none;
    margin-top: 3%;
}

.countryinp{
    height: 3em;
    border: none;
    width: 100%;
}

.credit{
    width: 93%;
    margin-left: 2%;
    height: 3em;
    background-color:#e9ecef;
    border: none;
}

.expiration{
    height: 3em;
    width: 90%;
    border: none;
    background-color:#e9ecef;
}

.cvv{
    height: 3em;
    width: 90%;
    border: none;
    background-color:#e9ecef;
}

.paypal{
    border: 1px solid black;
}

.logininp{
    width: 100%;
    
}

.inputs{
    background-color: green
}

.subdiv{
    background-image: url('https://thumbs.dreamstime.com/b/admin-message-working-office-table-background-93379017.jpg');
}

.fordelete{
    cursor: pointer;
    width: 30%;
}

.notification{
    width: 40%;
    height: 10vh;
    background-color: #4e6446;
    color: aqua;
}
