

.adminInp{
    width: 20%;
    height: 4rem;
    border-radius: 5em;

   
}

.adminlogin{
    width: 20%;
    height: 3rem;
    border: 2px bold white;
    color: white;
    background-color: black;
}

.sub{
    border-radius:5em;
    height: 90vh;
}

.inp{
    padding-top: 5vh;
    
}
.h1{
    color: black;
    padding-left: 47%;
    padding-top: 130px;
}
.signbut{
    width: 15%;
    height: 5vh;
    border-radius: 5em;
    margin-top: 4vh;
}

.all{
    padding-top:60%;
    padding-left:30%;
}
.marginn{
    margin-left:0%;
}

.main{
    background-color:#ecedf0;
    height: 59em;
}
*{
    margin: 0;
}
.signupfield{
    width: 30%;
    height: 45em;
    background-color:#fff;
    margin-left: 35%;
    margin-top: 20rem;
    border-radius:1em
} 
.signuplabel{
    background-color: #0088CC;
    color: #fff;
    border-radius: 3px;
    height: 5em;
    padding-top: 17%;
    border-bottom: null;
}
.other{
    background-color:#ecedf0;
}
.text{
    color: #0088CC;
    font-size:300%;
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
    
}
.maintext{
    background-color:#ecedf0;
}
.line{
    background-color: #0088CC;
    height: 1%;
    border-top: 4px;
}
.nameinput{
    width: 90%;
    margin-left: 5%;
    height: 3em;
    border-color: #ced4da;
    border-radius:6px;
}
.signupbtn{
    background-color: #0088CC;
    color: #fff;
    width: 40%;
    height: 3em;
    border-radius:1em;
    border-color: null;
    margin-top: 2em;
    margin-left: 28%;
}
.sidebar{
    height: 58em;
    background-color:black;
    width: 15%;
}

.productdetailsdiv{
    background-color: #fff;
    /* height: 18em; */
    border-radius: 10px;
}
.Addproductsbtn{
    background-color: #0088CC;
    color: #fff;
    width: 30%;
    height: 3em;
    border-radius:10px;
    border-color:#0088CC ;
}
.Productsearch{
    height: 3em;
    width: 10%;
}
.my-input {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }

.priceinp{
    width: 60%;
}
.filter{
    width: 50%;
    background-color: #0088CC;
    color: #fff;
    border-color:#0088CC ;
    border-radius:5px;
    margin-left: 24%;
}
.sizeinp{
    width: 90%;
    border-radius:3px;
    background-color:#fff
}
.sizeinp:hover{
    background-color: #0088CC;
    color: #fff;
    cursor: pointer;
    border-color:#0088CC ;
}
.arrow{
    cursor: pointer;
}